@using CoupleEntry.Models
@{
    User currentUser = SessionService.GetProperty(SessionService.SessionVariableNames.Current_User) as User;   
}


@if (currentUser != null)
{
    <div class="navbar-right">
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li><span class="pull-right iconImageUrl" style="background:url({{MyInfo.ImageUrl}})"></span></li>
            <li>
                @Html.ActionLink("Hello {{MyInfo.Name}}!", "EditUserDetails", "Home", routeValues: null, htmlAttributes: new { title = "Edit User Details" })
            </li>
            <li>
                @Html.ActionLink("Messages({{$root.msgCount}})", "Chat", "Home", routeValues: null, htmlAttributes: new { title = "Messages" })
            </li>
            <li><a href="#" ng-click="signOut()">Log off</a></li>
        </ul>
    </div>
    @*<div style="display:none" align="middle" class="g-signin2" data-cookiepolicy='single_host_origin' data-onsuccess="onSignIn"></div>*@
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li ng-click="ShowMyModal()"><a>Login/SignUp</a></li>
    </ul>
}
<script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>