﻿@{
    ViewBag.Title = "Meet your Pub Mate!";
}

@section Integration{
    <div class="container-fluid" ng-controller="indexController" id="contentsDiv">
        <div class="col-sm-3 filterAndMatches" >
            <div id="filterOptions" style="background-color:whitesmoke;padding:10px;margin-bottom:10px;">
                <h4 class="text-center">Filter by:</h4>
                <label for="distanceFilter">Max distance(in kms):</label><br />
                <input type="number" min="0" max="100000" id="distanceFilter" ng-model="distanceFilter" ng-keydown="FindUsers($event)" class="input-sm" /><br />
                <label for="genderFilter">Gender:</label>
                <select class="form-control input-sm" id="genderFilter" ng-model="genderFilter">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Both">Both</option>
                </select><br />
                <button id="findPeopleBtn" ng-click="GetOtherUsers()" class="btn btn-warning btn-lg">Find people near me!&raquo;</button>
            </div>

            <div ng-show="HaveMatches" style="background-color:whitesmoke;padding:10px;" id="matchedPeopleListContainerParent">
                <h4 class="text-center">My Matches:</h4>
                <div class="container" id="matchedPeopleListContainer">
                    <div class="panel-group" id="matchedPeopleList">
                        <div ng-repeat="person in peopleList" ng-if="person.ShowInMatched" ng-class="GetGenderClass(person.Gender)">
                            <div style="text-align: center;" class="panel-heading">
                                <span> {{person.Name | uppercase}}</span>
                                <span ng-show="person.Online" class="dot"></span>
                                <span ng-click="ShowPersonOnMap(person)" class="glyphicon glyphicon-map-marker pull-left"></span>                             
                                <span ng-click="LikeUnlike(person,$event)" ng-class="GetLikeClass(person.UserId)"></span>
                            </div>
                            <div class="panel-body">
                                <span class="pull-right iconImageUrl" style="background:url({{person.ImageUrl}})"></span>
                                Age:{{person.Age}}
                                <br>Distance:{{person.Distance.text}}
                                <br> Time to reach:{{person.Duration.text}}
                                <br> <span ng-hide="person.Online">Last Seen: {{person.LastSeen}}</span><strong ng-show="person.Online">Online</strong>
                                <span style="color: dodgerblue;font-size: 20px;" ng-click="ShowUserChat(person)" class="glyphicon glyphicon-envelope pull-right"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron col-sm-7 mapInfo">
            <h1>Welcome!</h1>
            <p class="lead">{{yourAddress}}</p>
            <div id="map"></div>
            <div id="error-div"></div>
        </div>

        <div class="col-sm-2 nearbyPeopleListContainer" id="nearbyPeopleListContainer">
            <div class="panel-group" id="nearbyPeopleList">
                <div ng-repeat="person in peopleList" ng-if=person.ShowInNearby ng-class="GetGenderClass(person.Gender)">
                    <div style="text-align: center;" class="panel-heading">
                        <span> {{person.Name | uppercase}}</span>
                        <span ng-show="person.Online" class="dot"></span>
                        <span ng-click="LikeUnlike(person,$event)" ng-class="GetLikeClass(person.UserId)"></span>
                    </div>
                    <div class="panel-body">
                        <span class="pull-right iconImageUrl" style="background:url({{person.ImageUrl}})"></span>
                        Age:{{person.Age}}
                        <br>Distance:{{person.Distance.text}}
                        <br> Time to reach:{{person.Duration.text}}
                        <br> <span ng-hide="person.Online">Last Seen: {{person.LastSeen}}</span><strong ng-show="person.Online">Online</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
