
<div class="row"  ng-show="$root.ActiveChatUser!=''">
    <ul class="chatBoxArea container-fluid">
        <li ng-repeat="message in Messages" ng-class="GetMessageClass(message.FromUserId)">
             <div ng-class="GetMessageTextClass(message.FromUserId)" > {{message.Value}}</div>
            <div class="messageTime">{{message.Time}}</div>
        </li>
    </ul> 
  
</div>
<div class="row" ng-show="$root.ActiveChatUser!=''">
    <input ng-blur="$root.ResetMessageCount()" ng-focus="$root.ResetMessageCount()" ng-keydown="CheckEnter($event)" ng-model="$root.messageValue" type="text" id="msgBox" class="col-sm-10 form-control" placeholder="Type your message...">
    <button id="sendMsg" ng-click="SendMessage()" class="btn col-sm-2">Send</button>
</div>